<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548477063928-j0o911rosr2rr5tevs8b0qhme9vr4rok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548477063928-j0o911rosr2rr5tevs8b0qhme9vr4rok</string>
	<key>API_KEY</key>
	<string>AIzaSyB4tnSCbYTOn7vlF38qy0QAMtN-BX-B3Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>548477063928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.getxtkchat</string>
	<key>PROJECT_ID</key>
	<string>tkchat-d88a7</string>
	<key>STORAGE_BUCKET</key>
	<string>tkchat-d88a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548477063928:ios:2cbd6d6d5204b774f6610d</string>
</dict>
</plist>