<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940034432273-5l6v086ophuv93l1reblgt697tetr1r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940034432273-5l6v086ophuv93l1reblgt697tetr1r5</string>
	<key>API_KEY</key>
	<string>AIzaSyDOx3MoK361g5wRUjA2TqhIKfJ8tisfqoE</string>
	<key>GCM_SENDER_ID</key>
	<string>940034432273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.getxtkchat</string>
	<key>PROJECT_ID</key>
	<string>tkchatv1</string>
	<key>STORAGE_BUCKET</key>
	<string>tkchatv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940034432273:ios:5a870bcd7243c6bf0180b0</string>
</dict>
</plist>